@model CIS341_project.ViewModels.BlogPostDTO
@{
    ViewData["Title"] = @Model.Title;
}

<center>
<header>
    <h1>@Model.Title</h1>
    <h2>Published by @Model.PostAuthor on @Model.DatePublished.ToShortDateString() at @Model.DatePublished.ToShortTimeString()</h2>
</header>
<article>
    <p>@Model.Content</p>
    <p>@ViewData["UpvoteCount"] 👍 | @ViewData["DownvoteCount"] 👎</p>
</article>
<hr/>
<h2>@Model.CommentCount comments</h2>

</center>