@page
@model CIS341_project.Pages.IndexModel

@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Lunchbox blog!</h1>
    <br />
    @foreach (var post in Model.LatestPosts)
    {
        <article class="post-preview">
            <h2>
                <a asp-controller="BlogPost" asp-action="Details" asp-route-id="@post.BlogPostId">
                    @post.Title
                </a>
            </h2>
            <p class="post-meta">
                Posted by @post.PostAuthor on @post.DatePublished.ToString("MMMM dd, yyyy")
            </p>

            <p>@post.Content.Substring(0, Math.Min(100, post.Content.Length))... <a asp-controller="BlogPost" asp-action="Details" asp-route-id="@post.BlogPostId">Read more</a></p>
        </article>
        <hr>
    }
    
</div>